.main-bg {
  background-color: $purple-light;
  width: 100%;
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url("../../assets/pattern-background-desktop.svg");
    width: 100%;
    height: 43.7rem;
    position: absolute;
    top: 0;

    @include responsive(xs) {
      background-image: url("../../assets/pattern-background-mobile.svg");
      height: 19.4rem;
    }
  }

  .card {
    max-width: 45rem;
    background-color: $white;
    border-radius: 2rem;
    box-shadow: 0 4rem 4rem -2rem rgba(13, 48, 189, 0.151826);
    position: relative;
    z-index: 1;

    @include responsive(xs) {
      max-width: 32.7rem;
    }

    .image {
      svg {
        border-radius: 2rem 2rem 0 0;
      }
    }

    .content {
      padding: 4.5rem 4.8rem;

      @include responsive(xs) {
        padding: 3.2rem 2.4rem;
      }

      h1 {
        @include type(h1, desktop);
        color: $blue-dark;
        text-align: center;
        margin-bottom: 1.7rem;

        @include responsive(xs) {
          @include type(h1, mobile);
          margin-bottom: 1.6rem;
        }
      }

      p {
        @include type(b1, desktop);
        color: $blue-light;
        text-align: center;
        margin-bottom: 2rem;

        @include responsive(xs) {
          @include type(b1, mobile);
          margin-bottom: 2.4rem;
        }
      }

      .plan {
        display: flex;
        align-items: center;
        gap: 2rem;

        background-color: $white-ice;
        padding: 2.5rem 2.4rem;
        border-radius: 1.1rem;
        margin-bottom: 3.2rem;

        @include responsive(xs) {
          padding: 1.6rem;
          margin-bottom: 2.4rem;
        }

        .plan-name {
          flex: 1;

          .name {
            @include type(b2, desktop);
            color: $blue-dark;
            margin-bottom: .3rem;

            @include responsive(xs) {
              @include type(b2, mobile);
            }
          }

          .price {
            @include type(b1, desktop);
            color: $blue-light;

            @include responsive(xs) {
              @include type(b1, mobile);
            }
          }
        }
      }

      .btn-primary {
        margin-bottom: 3.2rem;

        @include responsive(xs) {
          margin-bottom: 2.4rem;
        }
      }
    }
  }
}
